{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="site-blocks-cover overlay"  style="background-image: url('{% static 'images/hero_1.jpg'%}');" data-stellar-background-ratio="0.5" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>IT Consulting</h1>
                <!-- <p class="lead mb-5">We Make Beautiful Things</p> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<div class="site-section">
      <div class="container">
        <div class="row ">

          <div class="col-md-12 order-md-1" data-aos="fade">

            <div class="row">

              <div class="col-12 mb-4">
                <div class="text-left pb-1 border-primary mb-4">
                  <h2 class="text-primary">General IT Consulting</h2>
                </div>
              </div>
              <div class="col-md-12 mb-md-12 mb-0 col-lg-12">
                <blockquote>
                        At the initial consulting meeting our primary objective is to listen carefully to the clients’ requirements and to conduct a through “Needs Assessment”, asking broad as well as probing questions about the specific assignment, the company’s business objectives and the specific project drivers. Once we understand the “Big Picture”, we will focus on defining the scope and the specific issues and tasks to be tackled, as quickly and efficiently as possible.
                </blockquote>
                <br>
                    <p>
                        <strong>A&S</strong>  owns the responsibility of the Project Controller to rapidly identify areas where we can assist and together with the client, we prepare a detailed Program of Work which will clearly define our agreed activities in the project.
                    </p>
                    <br>
                    <div class="row">
                    <div class="col-md-6 col-xd-12 col-sm-12 col-lg-6 mb-4">
                            <div class="text-left pb-1 border-primary mb-4">
                              <h6 class="text-primary">Activities at A&S : </h2>
                            </div>
                            <ul>
                                    <li>Feasibility Studies</li>
                                    <li>Cost Justification</li>
                                    <li>Preparation of an IT Strategy</li>
                                    <li>IT Options Review</li>
                                    <li>Process Review and Re-design</li>
                                    <li>System Specification and Selection</li>
                                    <li>Contract and Price Negotiations</li>
                                    <li>Troubleshooting</li>
                                    <li>IT Security Review</li>
                                    <li>Personnel Recruitment as demanded by the Client</li>
                                    <li>Business Strategy and Planning</li>

                                </ul>
                    </div>

                </div>


                    <br>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}