{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="site-blocks-cover overlay"  style="background-image: url('{% static 'images/hero_1.jpg'%}');" data-stellar-background-ratio="0.5" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Product Development</h1>
                <!-- <p class="lead mb-5">We Make Beautiful Things</p> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<div class="site-section">
      <div class="container">
        <div class="row ">

          <div class="col-md-12 order-md-1" data-aos="fade">

            <div class="row">

              <div class="col-12 mb-4">
                <div class="text-left pb-1 border-primary mb-4">
                  <h2 class="text-primary">Product Application Development</h2>
                </div>
              </div>
              <div class="col-md-12 mb-md-12 mb-0 col-lg-12">
                <blockquote>
                    We offer you a one-stop product development service to make your product ready to market.We work with you right from advising and creating initial concepts to design and development; also from manufacture and supply chain set-up to ongoing support for lasting success.
                </blockquote>
                <br>
                    <p>
                        <strong>A&S</strong>  has been helping its clients achieve results by identifying process challenges and implementing innovative customized solutions to increase profits, maximize productivity, reduce costs and increase reliability. Our process is based on an individualized approach to technology needs, tailored specifically to each situation. We understand the need for state-of-the-art technology solutions and we have a proven track record of excellence in providing customized and effective alternatives to meet the dynamic needs of our clients.
                    </p>
                    <p>Application Development Services:</p>
                    <ul>
                          <li>Global Delivery</li>
                          <li>Application Transformation</li>
                          <li>Agile Development</li>
                          <li>Risk Transfer</li>
                          <li>Mobile Application Development</li>
                          <li>Recruitment Management System</li>
                    </ul>
                    <br>
                    <blockquote>
                        We are among the most respected and client centric globally recognized consulting firms for
                        systems integration and application services.
                        We are located in 164, Bristnall Hall Road, Oldbury, UK, B68 9TZ.
                        We have more than 500 Application Services consultants located around the globe who have expertise in the industry as well as technology through proven methodology, research innovation, and solution assets which will help you achieve greater productivity and business agility.
                    </blockquote>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


{% endblock %}