{% extends "base_generic.html" %}
  {% load static %}

{% block content %}
<div class="site-blocks-cover overlay"  style="background-image: url('{% static 'images/hero_1.jpg'%}');" data-stellar-background-ratio="0.5" data-aos="fade">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-12" data-aos="fade-up" data-aos-delay="400">

            <div class="row justify-content-center mb-4">
              <div class="col-md-8 text-center">
                <h1>Staffing Solution</h1>
                <!-- <p class="lead mb-5">We Make Beautiful Things</p> -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
<div class="site-section">
      <div class="container">
        <div class="row ">

          <div class="col-md-12 order-md-1" data-aos="fade">

            <div class="row">

              <div class="col-12 mb-4">
                <div class="text-left pb-1 border-primary mb-4">
                  <h2 class="text-primary">Staffing</h2>
                </div>
              </div>
              <div class="col-md-12 mb-md-12 mb-0 col-lg-12">
                <blockquote>
                  Based on careful listening and a thorough “Needs Assessment”, we design, develop and deliver
                  technology enabled solutions to meet the specific and unique needs of our clients’ that help them win
                  in the market.
                </blockquote>
                <br>
                <p>
                  Effective Staff Augmenting is an innovative, key business strategy to provide uniquely qualified
                  personnel as required to meet specialized needs or satisfy changing requirements quickly and cost
                  effectively in accordance with the clients’ goals and vision. At A&S, we have resources to quickly
                  connect you to the best industry talent for both short term and long term assignments, providing your
                  organization with the flexibility to succeed in a rapidly changing, competitive global market.
                </p>
                <p>The A&S Process ensures that we achieve successfull outcomes. Successfull Staffing solutions requires
                  the most talented team members capable of understanding your unique challenges and working
                  collabaratively with the rest of your staff to achieve your goals. A&S considers the following
                  approach:</p>
                <ul>
                  <li>Attracting the best talents</li>
                  <li>Reviewing, Anayzing and Enhancing individuals' skills with specialized training.</li>
                  <li>Understanding your specific staffing need.</li>
                </ul>
                <p>
                  Over the years, we have developed a large database of highly qualified candidates for technical,
                  multi-technical and seasoned skilled veterans as well as newer graduates for entry level tasks. A
                  Global HR department must continuously refine and adjust their staffing strategy to be in sync with
                  the organization’s business and financial objectives.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock %}